{% macro datos(name,placeholder,type='text') %}
    <div class="mb-3">
        <label for="{{name}}" class="form-label">{{name}}</label>
        <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
    </div>
{% endmacro %}

{% macro campoNuevo(field) %}

<td>{{field.label}}</td>
<dd>{{field(**kwargs) | safe}}</dd>
{% if field.errors %}

{% for error in field.errors %}
    <li style="color:red">{{error}}</li>
{%endfor%}
{%endif%}
{% endmacro %}

{% macro entradas(name,placeholder,type='text', errors='None')%}
<div class="mb-3">
    <label for="{{name}}" class="form-label">{{name}}</label>
    <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">

    {% if errors %}

    {% for error in errors %}
    <li style="color:red">{{error}}</li>
    {%endfor%}
    {%endif%}
    
</div>

{% endmacro %}

{% macro radio(name,label,value)%}
<div class="form-check mb2">
    <input class="form-check-input" type="radio" name="{{name}}" id="{{name}}_{{value}}" value="{{value}}">
    <label class="form-check-label" for="{{name}}_{{value}}">
        {{label}}
    </label>
</div>
{% endmacro %}

{% macro datos(name,placeholder,type="text") %}
<div class="mb-3">
    <label for="{{name}}" class="form-label">{{name}}</label>
    <input type="{{type}}" class="form-control" id="{{name}}" name="{{name}}" placeholder="{{placeholder}}">
</div>
{% endmacro %}

{% macro inputActualizar(name,type="text") %}

<div class="relative z-0 w-full mb-5 group">
    <input type="{{type}}" name="{{name}}" id="{{name}}"
        class="block py-2.5 px-0 w-full text-sm bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required />
    <label for="{{name}}"
        class="absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
        {{name}}
    </label>
</div>

{% endmacro %}